body {
	background: #333;
}

.pudding {
	margin: 20px;
	height: 10px;
	width: 10px;

	box-shadow: 
    /* holly & cherries */

    80px 10px 0 0 #009688, 
    140px 10px 0 0 #009688,
		70px 20px 0 0 #009688, 
    80px 20px 0 0 #009688, 
    90px 20px 0 0 #009688,
		130px 20px 0 0 #009688, 
    140px 20px 0 0 #009688, 
    150px 20px 0 0 #009688,
		80px 30px 0 0 #009688, 
    90px 30px 0 0 #009688, 
    100px 30px 0 0 #e91e63,
		110px 30px 0 0 #e91e63, 
    120px 30px 0 0 #009688, 
    130px 30px 0 0 #009688,
		140px 30px 0 0 #009688, 
    
    /* icing and cherries */
    60px 40px 0 0 #fff, 
    70px 40px 0 0 #fff,
		80px 40px 0 0 #fff, 
    90px 40px 0 0 #e91e63, 
    100px 40px 0 0 #e91e63,
		110px 40px 0 0 #e91e63, 
    120px 40px 0 0 #009688, 
    130px 40px 0 0 #009688,
		140px 40px 0 0 #fff, 
    150px 40px 0 0 #fff, 
    40px 50px 0 0 #fff,
		50px 50px 0 0 #fff, 
    60px 50px 0 0 #fff, 
    70px 50px 0 0 #fff,
		80px 50px 0 0 #fff, 
    90px 50px 0 0 #e91e63, 
    100px 50px 0 0 #e91e63,
		110px 50px 0 0 #fff, 
    120px 50px 0 0 #fff, 
    130px 50px 0 0 #fff,
		140px 50px 0 0 #fff, 
    150px 50px 0 0 #fff, 
    160px 50px 0 0 #fff,
		170px 50px 0 0 #fff, 
    30px 60px 0 0 #fff, 
    40px 60px 0 0 #fff,
		50px 60px 0 0 #fff, 
    60px 60px 0 0 #fff, 
    70px 60px 0 0 #fff,
		80px 60px 0 0 #fff, 
    90px 60px 0 0 #fff, 
    100px 60px 0 0 #fff,
		110px 60px 0 0 #fff, 
    120px 60px 0 0 #fff, 
    130px 60px 0 0 #fff,
		140px 60px 0 0 #fff, 
    150px 60px 0 0 #fff, 
    160px 60px 0 0 #fff,
		170px 60px 0 0 #fff, 
    180px 60px 0 0 #fff, 
    20px 70px 0 0 #fff,
		30px 70px 0 0 #fff, 
    40px 70px 0 0 #fff, 
    50px 70px 0 0 #fff,
		60px 70px 0 0 #fff, 
    70px 70px 0 0 #fff, 
    80px 70px 0 0 #fff,
		90px 70px 0 0 #fff, 
    100px 70px 0 0 #fff, 
    110px 70px 0 0 #fff,
		120px 70px 0 0 #fff, 
    130px 70px 0 0 #fff, 
    140px 70px 0 0 #fff,
		150px 70px 0 0 #fff, 
    160px 70px 0 0 #fff, 
    170px 70px 0 0 #fff,
		180px 70px 0 0 #fff, 
    190px 70px 0 0 #fff, 
    20px 80px 0 0 #fff,
		30px 80px 0 0 #fff, 
    40px 80px 0 0 #fff, 
    50px 80px 0 0 #fff,
		60px 80px 0 0 #fff, 
    70px 80px 0 0 #fff, 
    80px 80px 0 0 #fff,
		90px 80px 0 0 #fff, 
    100px 80px 0 0 #fff, 
    110px 80px 0 0 #fff,
		120px 80px 0 0 #fff, 
    130px 80px 0 0 #fff, 
    140px 80px 0 0 #fff,
		150px 80px 0 0 #fff, 
    160px 80px 0 0 #fff, 
    170px 80px 0 0 #fff,
		180px 80px 0 0 #fff, 
    190px 80px 0 0 #fff, 
    10px 90px 0 0 #fff,
		20px 90px 0 0 #fff,
    
    /* pudding & icing */
    30px 90px 0 0 #69473a, 
    40px 90px 0 0 #69473a,
		50px 90px 0 0 #fff, 
    60px 90px 0 0 #fff, 
    70px 90px 0 0 #fff,
		80px 90px 0 0 #69473a, 
    90px 90px 0 0 #69473a, 
    100px 90px 0 0 #fff,
		110px 90px 0 0 #fff, 
    120px 90px 0 0 #69473a, 
    130px 90px 0 0 #69473a,
		140px 90px 0 0 #fff, 
    150px 90px 0 0 #fff, 
    160px 90px 0 0 #fff,
		170px 90px 0 0 #fff, 
    180px 90px 0 0 #69473a, 
    190px 90px 0 0 #fff,
		200px 90px 0 0 #fff, 
    10px 100px 0 0 #69473a, 
    20px 100px 0 0 #69473a,
		30px 100px 0 0 #69473a, 
    40px 100px 0 0 #69473a, 
    50px 100px 0 0 #fff,
		60px 100px 0 0 #fff, 
    70px 100px 0 0 #69473a, 
    80px 100px 0 0 #69473a,
		90px 100px 0 0 #69473a, 
    100px 100px 0 0 #69473a, 
    110px 100px 0 0 #69473a,
		120px 100px 0 0 #69473a, 
    130px 100px 0 0 #69473a, 
    140px 100px 0 0 #fff,
		150px 100px 0 0 #fff, 
    160px 100px 0 0 #fff, 
    170px 100px 0 0 #69473a,
		180px 100px 0 0 #69473a, 
    190px 100px 0 0 #69473a, 
    200px 100px 0 0 #69473a,
		10px 110px 0 0 #69473a, 
    20px 110px 0 0 #69473a, 
    30px 110px 0 0 #69473a,
		40px 110px 0 0 #69473a, 
    50px 110px 0 0 #69473a, 
    60px 110px 0 0 #fff,
		70px 110px 0 0 #69473a, 
    80px 110px 0 0 #69473a, 
    90px 110px 0 0 #69473a,
		100px 110px 0 0 #69473a, 
    110px 110px 0 0 #3a2a1c, 
    120px 110px 0 0 #69473a,
		130px 110px 0 0 #69473a, 
    140px 110px 0 0 #69473a, 
    150px 110px 0 0 #fff,
		160px 110px 0 0 #fff, 
    170px 110px 0 0 #69473a, 
    180px 110px 0 0 #69473a,
		190px 110px 0 0 #3a2a1c, 
    200px 110px 0 0 #69473a, 
    10px 120px 0 0 #69473a,
		20px 120px 0 0 #3a2a1c, 
    30px 120px 0 0 #69473a, 
    40px 120px 0 0 #69473a,
		50px 120px 0 0 #69473a, 
    60px 120px 0 0 #69473a, 
    70px 120px 0 0 #69473a,
		80px 120px 0 0 #69473a, 
    90px 120px 0 0 #69473a, 
    100px 120px 0 0 #69473a,
		110px 120px 0 0 #69473a, 
    120px 120px 0 0 #69473a, 
    130px 120px 0 0 #69473a,
		140px 120px 0 0 #69473a, 
    150px 120px 0 0 #fff,
    
    /* pudding */
    160px 120px 0 0 #69473a,
		170px 120px 0 0 #69473a, 
    180px 120px 0 0 #69473a, 
    190px 120px 0 0 #69473a,
		200px 120px 0 0 #69473a, 
    10px 130px 0 0 #69473a, 
    20px 130px 0 0 #69473a,
		30px 130px 0 0 #69473a, 
    40px 130px 0 0 #3a2a1c, 
    50px 130px 0 0 #69473a,
		60px 130px 0 0 #69473a, 
    70px 130px 0 0 #3a2a1c, 
    80px 130px 0 0 #69473a,
		90px 130px 0 0 #69473a, 
    100px 130px 0 0 #69473a, 
    110px 130px 0 0 #69473a,
		120px 130px 0 0 #69473a, 
    130px 130px 0 0 #69473a, 
    140px 130px 0 0 #69473a,
		150px 130px 0 0 #69473a, 
    160px 130px 0 0 #69473a, 
    170px 130px 0 0 #69473a,
		180px 130px 0 0 #3a2a1c, 
    190px 130px 0 0 #69473a, 
    200px 130px 0 0 #69473a,
		10px 140px 0 0 #69473a, 
    20px 140px 0 0 #69473a, 
    30px 140px 0 0 #69473a,
		40px 140px 0 0 #69473a, 
    50px 140px 0 0 #69473a, 
    60px 140px 0 0 #69473a,
		70px 140px 0 0 #69473a, 
    80px 140px 0 0 #69473a, 
    90px 140px 0 0 #69473a,
		100px 140px 0 0 #69473a, 
    110px 140px 0 0 #3a2a1c, 
    120px 140px 0 0 #69473a,
		130px 140px 0 0 #69473a, 
    140px 140px 0 0 #69473a, 
    150px 140px 0 0 #3a2a1c,
		160px 140px 0 0 #69473a, 
    170px 140px 0 0 #69473a, 
    180px 140px 0 0 #69473a,
		190px 140px 0 0 #69473a, 
    200px 140px 0 0 #69473a, 
    10px 150px 0 0 #69473a,
		20px 150px 0 0 #69473a, 
    30px 150px 0 0 #69473a, 
    40px 150px 0 0 #69473a,
		50px 150px 0 0 #3a2a1c, 
    60px 150px 0 0 #69473a, 
    70px 150px 0 0 #69473a,
		80px 150px 0 0 #69473a, 
    90px 150px 0 0 #3a2a1c, 
    100px 150px 0 0 #69473a,
		110px 150px 0 0 #69473a, 
    120px 150px 0 0 #69473a, 
    130px 150px 0 0 #69473a,
		140px 150px 0 0 #69473a, 
    150px 150px 0 0 #69473a, 
    160px 150px 0 0 #69473a,
		170px 150px 0 0 #69473a, 
    180px 150px 0 0 #69473a, 
    190px 150px 0 0 #69473a,
		200px 150px 0 0 #69473a, 
    20px 160px 0 0 #69473a, 
    30px 160px 0 0 #3a2a1c,
		40px 160px 0 0 #69473a, 
    50px 160px 0 0 #69473a, 
    60px 160px 0 0 #69473a,
		70px 160px 0 0 #69473a, 
    80px 160px 0 0 #69473a, 
    90px 160px 0 0 #69473a,
		100px 160px 0 0 #69473a, 
    110px 160px 0 0 #69473a, 
    120px 160px 0 0 #69473a,
		130px 160px 0 0 #3a2a1c, 
    140px 160px 0 0 #69473a, 
    150px 160px 0 0 #3a2a1c,
		160px 160px 0 0 #69473a, 
    170px 160px 0 0 #69473a, 
    180px 160px 0 0 #69473a,
		190px 160px 0 0 #69473a, 
    20px 170px 0 0 #69473a, 
    30px 170px 0 0 #69473a,
		40px 170px 0 0 #69473a, 
    50px 170px 0 0 #69473a, 
    60px 170px 0 0 #69473a,
		70px 170px 0 0 #3a2a1c, 
    80px 170px 0 0 #69473a, 
    90px 170px 0 0 #69473a,
		100px 170px 0 0 #69473a, 
    110px 170px 0 0 #69473a, 
    120px 170px 0 0 #69473a,
		130px 170px 0 0 #69473a, 
    140px 170px 0 0 #69473a, 
    150px 170px 0 0 #69473a,
		160px 170px 0 0 #69473a, 
    170px 170px 0 0 #69473a, 
    180px 170px 0 0 #3a2a1c,
		190px 170px 0 0 #69473a, 
    30px 180px 0 0 #69473a, 
    40px 180px 0 0 #69473a,
		50px 180px 0 0 #69473a, 
    60px 180px 0 0 #69473a, 
    70px 180px 0 0 #69473a,
		80px 180px 0 0 #69473a, 
    90px 180px 0 0 #69473a, 
    100px 180px 0 0 #3a2a1c,
		110px 180px 0 0 #69473a, 
    120px 180px 0 0 #69473a, 
    130px 180px 0 0 #69473a,
		140px 180px 0 0 #69473a, 
    150px 180px 0 0 #69473a, 
    160px 180px 0 0 #69473a,
		170px 180px 0 0 #69473a, 
    180px 180px 0 0 #69473a, 
    40px 190px 0 0 #69473a,
		50px 190px 0 0 #69473a, 
    60px 190px 0 0 #3a2a1c, 
    70px 190px 0 0 #69473a,
		80px 190px 0 0 #69473a, 
    90px 190px 0 0 #69473a, 
    100px 190px 0 0 #69473a,
		110px 190px 0 0 #69473a, 
    120px 190px 0 0 #69473a, 
    130px 190px 0 0 #3a2a1c,
		140px 190px 0 0 #69473a, 
    150px 190px 0 0 #69473a, 
    160px 190px 0 0 #69473a,
		170px 190px 0 0 #69473a, 
    50px 200px 0 0 #69473a, 
    60px 200px 0 0 #69473a,
		70px 200px 0 0 #69473a, 
    80px 200px 0 0 #69473a, 
    90px 200px 0 0 #69473a,
		100px 200px 0 0 #69473a, 
    110px 200px 0 0 #69473a, 
    120px 200px 0 0 #69473a,
		130px 200px 0 0 #69473a, 
    140px 200px 0 0 #69473a, 
    150px 200px 0 0 #69473a,
		160px 200px 0 0 #69473a;
}
